.nav-container {
  background:white;
  .brand-logo {
    font-size: 60px;
    font-weight: 1000;
    text-shadow: 3px 2px cyan;
  }
  .brand-logo:hover {
    text-shadow: 3px 2px 50px cyan;
  }
  .header-btn{
    font-size: 20px;
    border-radius: 40px;
  }
  .btn-light {
    background: white;
  }
  .btn-light:hover {
    background: black;
    color:white;
  }
  // LIST NAVIGATION
  .nav-list {
    display: flex;
    list-style: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .navi-link {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    .navi-link:hover {
      color: lightseagreen;
    }
  }

  .blog-brand {
    display: flex;
    align-items: center;
    user-select: none;
  }
}

