.about-container {
  .about-title {
    font-weight: 1000;
    text-shadow: 2px 1px gray;
    font-size: 58px;
    margin-bottom: 30px;
  }
  p {
    user-select: none;
    font-size: 20px;
    text-align: justify;
    .text-bold {
      font-weight: bolder;
    }
  }
}