// Custom CSS By Francis Ong
// © 2022 - Francis Ong Portfolio
// francis.ong@gmail.com / francis.ong@cvsu.edu.ph

// Font Futura (Font Face)
@font-face {font-family: "Futura PT Web Bold";
  src: url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.eot"); /* IE9*/
  src: url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/fonts/Futura/6ef675c9bbcbbf4c7540fcd3ffec962f.svg#Futura PT Web Bold") format("svg"); /* iOS 4.1- */
}

/* INITIALIZATION*/
$bgcolor: #4c1d95;
$textcolor: black;
$fontsize: 20px;
$muted_color: white;
$fontfamily: Futura PT Web Bold, sans-serif;
$activelink: #FFBF00;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: $textcolor;
  position: relative;
  padding: 0;
  margin: 0;
}

.active{ color: $activelink !important; }

#particles {
  position: fixed;
  background-color: #eee;
  z-index: -10;
  width: 100%;
  height: 100vh;
}

#nav-top{
  font-family: $fontfamily;
  font-size: $fontsize;
  //border-radius: 0 0 10px 10px;
}

.avatar{
  width: 20vh;
  height: 20vh;
}

#home{
  font-family: $fontfamily;
  font-weight: bold;
  width: 100%;
  border-radius: 0 0 100px 100px;
  //height: 100vh;
}

.home-link {
  font-size: 3vmin;
  text-decoration: none;
  pointer-events: auto;
  color: $muted_color;
}

.home-link:hover {
  color: $muted_color;
  i{
    transition: .5s;
    transform: scale(1.5);
  }
}


.btn-links{
  border-radius: 50px;
}

#about_title,#viewCV{
  font-family: $fontfamily;
}

.about-img{
  height: 40vh;
  width: 40vh;
}

.justify{
  text-align: justify;
}

#particle-slider{
  height: 330px;
  padding: 0 !important;
  margin: 0 !important;
}


.skill-shadow{
  box-shadow: 10px  10px 50px black;
}

.p-height{
  height: 5px;
}

.skill-title{
  font-family: $fontfamily;
}

#nav-home{
  position:fixed;
  bottom:5px;
  right:5px;
  z-index: 999999;
}

.footer-text{
  font-size: 14px;
}

/* ========================Navbar Shrink====================== */


#nav-top.navbar-shrink {
  transition: .3s;
  padding-top: .6rem;
  padding-bottom: .6rem;
  background-color: #212529;
}
#nav-top.navbar-shrink .navbar-brand {
  font-size: 1.05em;
  transition: .3s;
}
#nav-top.navbar-shrink .navbar-brand svg,
#nav-top.navbar-shrink .navbar-brand img {
  height: 1.5rem;
}

/* ========================Portfolio====================== */

#portfolio .portfolio-item {
  background: white;
  max-width: 26rem;
  box-shadow: 10px 10px rgba(0,0,0,.5);
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.p-link{
  font-size: 20px;
  text-decoration: none;
}

.p-bottom{
  position: absolute;
  bottom: 0;
}

// Color Badges
.badge-html{
  background: orange;
}
.badge-php{
  background: blue;
}
.badge-css{
  background: green;
}
.badge-js{
  background: #8B8000;
}
.badge-java{
  background: red;
}
.badge-python{
  background: deepskyblue;
}
.badge-mysql{
  background: indigo;
}
.badge-bs{
  background: purple;
}


// Media Queries
@media screen and (max-width: 576px) {
  .about-img{
    height: 20vh;
    width: 20vh;
  }
  .skill-title{
    font-size:12px;
  }
  .expertise{
    font-size:8px;
  }
  #home{
    border-radius: 0px;
  }
  #nav-home{
    bottom:1px;
    right:1px;
  }
}

@media screen and (max-width: 800px) {
  #particle-slider{
    height: 270px;
  }
}

@media screen and (max-width: 400px) {
  #particle-slider{
    height: 220px;
  }
}

//=========================================================
//Particles UP


/* Config */
$color-bg: #1e1e1e;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}


.animation-wrapper {
  width: 100%;
  height: 100%;
}



.particle, .particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(250); //1000
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(250);//900
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);//800
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(150);//500
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(200);//1100
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(300);//1200
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(150);//700
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

// .page-wrapper {
//   text-align: center;
//   color: #fff;
//   z-index: 2;
// }

// h4 {
//   color: #fff;
//   font-family: Monoton;
//   -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
//   -moz-animation: neon1 1.5s ease-in-out infinite alternate;
//   animation: neon1 1.5s ease-in-out infinite alternate;
// }

// h4:hover {
//   color: #FF1177;
//   -webkit-animation: none;
//   -moz-animation: none;
//   animation: none;
// }

/*glow for webkit*/

// @-webkit-keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff,
//       0 0 20px #fff,
//       0 0 30px #fff,
//       0 0 40px #FF1177,
//       0 0 70px #FF1177,
//       0 0 80px #FF1177,
//       0 0 100px #FF1177,
//       0 0 150px #FF1177;
//   }
//   to {
//     text-shadow: 0 0 5px #fff,
//       0 0 10px #fff,
//       0 0 15px #fff,
//       0 0 20px #FF1177,
//       0 0 35px #FF1177,
//       0 0 40px #FF1177,
//       0 0 50px #FF1177,
//       0 0 75px #FF1177;
//   }
// }

// /*glow for mozilla*/

// @-moz-keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff,
//       0 0 20px #fff,
//       0 0 30px #fff,
//       0 0 40px #FF1177,
//       0 0 70px #FF1177,
//       0 0 80px #FF1177,
//       0 0 100px #FF1177,
//       0 0 150px #FF1177;
//   }
//   to {
//     text-shadow: 0 0 5px #fff,
//       0 0 10px #fff,
//       0 0 15px #fff,
//       0 0 20px #FF1177,
//       0 0 35px #FF1177,
//       0 0 40px #FF1177,
//       0 0 50px #FF1177,
//       0 0 75px #FF1177;
//   }
// }

// /*glow*/

// @keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff,
//       0 0 20px #fff,
//       0 0 30px #fff,
//       0 0 40px #FF1177,
//       0 0 70px #FF1177,
//       0 0 80px #FF1177,
//       0 0 100px #FF1177,
//       0 0 150px #FF1177;
//   }
//   to {
//     text-shadow: 0 0 5px #fff,
//       0 0 10px #fff,
//       0 0 15px #fff,
//       0 0 20px #FF1177,
//       0 0 35px #FF1177,
//       0 0 40px #FF1177,
//       0 0 50px #FF1177,
//       0 0 75px #FF1177;
//   }
// }
